.carousel-item{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiPaper-root{
    padding: 0 10px;
    box-shadow: none;

    img{
      border-radius: 5px;
    }
  }

  img{
    width: 100%;
    height: 100%;
  }
}