.a{
    color: #F7F8F8;
    background-color: #e8e9e9;
}

.products-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

*{
    font-family: sans-serif;
}

.title{
    color: #6C757D;
}

.not-found{
    text-align: center;
    margin-top: 180px !important;
}